/firmware/
/fpga-user/
/fpga-master/
/docs/
/IP_cores/AvalonMM_to_hRAM/AvalonMM_to_SSRAM_v1/db/
/IP_cores/AvalonMM_to_hRAM/AvalonMM_to_SSRAM_v1/incremental_db/
/IP_cores/AvalonMM_to_hRAM/AvalonMM_to_SSRAM_v1/output_files/
/IP_cores/AvalonMM_to_hRAM/AvalonMM_to_SSRAM_v1/src/*.bak
/IP_cores/AvalonMM_to_hRAM/AvalonMM_to_SSRAM_v1/tb/*.bak
/IP_cores/AvalonMM_to_hRAM/AvalonMM_to_SSRAM_v1/sim/__pycache__/
/IP_cores/AvalonMM_to_hRAM/AvalonMM_to_SSRAM_v2/db/
/IP_cores/AvalonMM_to_hRAM/AvalonMM_to_SSRAM_v2/incremental_db/
/IP_cores/AvalonMM_to_hRAM/AvalonMM_to_SSRAM_v2/output_files/
/IP_cores/AvalonMM_to_hRAM/AvalonMM_to_SSRAM_v2/src/*.bak
/IP_cores/AvalonMM_to_hRAM/AvalonMM_to_SSRAM_v2/tb/*.bak
/IP_cores/AvalonMM_to_hRAM/AvalonMM_to_SSRAM_v2/sim/__pycache__/
/IP_cores.zip
